<div class="container mt-4">

        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                </tr>
            </thead>
             <tbody>
                    {% for category in content.categories %}
                        <tr>
                            <td>
                                <a href="{{ url_for('view_category_detail', category_id=category.category_id) }}">{{ category.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
             </tbody>
        </table>

    </div>