<div class="container mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название фильма</th>
                    <th>Описание</th>
                    <th>Год выпуска</th>
                </tr>
            </thead>
             <tbody>
             {% for item in content.films %}
                  <tr>
                    <td>{{ item.film_id }}</td>
                      <td><a href="{{ url_for('view_film_detail', film_id=item.film_id) }}">{{ item.title }}</a></td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.release_year }}</td>
                </tr>
            {% endfor %}
             </tbody>
        </table>

        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
            <ul class="pagination">
            {# Кнопка "Назад" #}
            <li class="page-item {% if content.page <= 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('view_all_films', page=content.page - 1) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
                {% for p in content.pages %}
                <li class="page-item {% if p == content.page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('view_all_films', page=p) }}">{{ p }}</a>
                </li>
    {% endfor %}

    {# Кнопка "Вперёд" #}
    <li class="page-item {% if content.page >= content.total_pages %}disabled{% endif %}">
      <a class="page-link" href="{{ url_for('view_all_films', page=content.page + 1) }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

</div>