<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">FilmSearch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('index') }}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_all_films') }}">Фильмы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_all_actors') }}">Актеры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_all_categories') }}">Жанры</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        ?
                    </button>
                </li>
      </ul>
    </div>
  </div>
</nav>